*{
	margin: 0;
	padding: 0;
	background-image: url(./a72c1d5945a2a411a89ac304ad27bfe1.jpg);
	background-repeat: no-repeat;
	background-color: #f9dddc;
	width: 500px;
}

.buttonGroup{
	margin-top: 1.5rem;
}

.boton{
	position: absolute;
	cursor: pointer;
	margin: 1rem;
	width: 200px;
	height: 70px;
	font-family: 'Pangolin', cursive;
	font-size: 40px;
	border-radius: 10px;
	color: black;
	background:rgba(255,255,255,.6);
	border-style: solid black;
}

.boton--no{
	right: 50%;
}

.main{
	
	color: white;
	font-family: 'Pangolin', cursive;
	margin-top: 20%;
	-webkit-text-stroke: 2px black;
	text-align: center;
}
.main h1{
	font-size: 50px;
}
.si{
	display: none;
	color: white;
	font-family: 'Pangolin', bold;
	margin-top: 10%;
	-webkit-text-stroke: 2px black;
	text-align: center;
}
#mostrar{
	background: #7753EF;
}
.si h1{
	font-size: 40px;
}

a, a:visited, a:hover{
	text-decoration: none;
	color: rgb(186, 126, 241);
	font-family: 'Pangolin', bold;
	margin-top: 50%;
	display: flex;
	justify-content: center;
	
}


